# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints/

# ===============================
# Dataset Files (Do NOT Upload Raw Data)
# ===============================
*.csv
*.xlsx
*.xls
*.json

# ===============================
# MySQL / Database Dumps
# ===============================
*.sql~
*.dump
*.bak

# ===============================
# Power BI Temporary Files
# ===============================
*.pbix~
*.tmp

# ===============================
# VS Code Settings
# ===============================
.vscode/

# ===============================
# OS System Files
# ===============================
.DS_Store
Thumbs.db
